.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-login-page {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.login-screenshot20240227at9501 {
  top: 629px;
  left: 74px;
  width: 242px;
  height: 33px;
  position: absolute;
  border-color: rgba(126, 126, 126, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.login-image1 {
  top: 145px;
  left: 30px;
  width: 331px;
  height: 386px;
  position: absolute;
}
.login-text {
  top: 558px;
  left: 93px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
