{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock head %} 

{% block body %} 
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
  %} {% for cat, msg in messages %} {% if cat == "error" %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{msg}}</strong>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{msg}}</strong>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
  <img
  class="rounded mx-auto d-block"
  src="{{url_for('static', filename='images/books.png')}}"
  alt="reader"
/>
{% endblock body %}
