{% extends "base.html" %} {% block head %}
<title>Login</title>
{% endblock %} {% block body %}
<h1>Login</h1>
<img
  class="rounded mx-auto d-block"
  src="{{url_for('static', filename='images/reader.png')}}"
  alt="reader"
/>
<hr />
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for cat, msg in messages %} {% if cat == "error" %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}
<form method="POST">
  <label for="email">Email</label>
  <input
    type="email"
    class="form-control"
    name="email"
    id="email"
    placeholder="Email"
    required
  />
  <br />
  <label for="password">Password</label>
  <input
    type="password"
    class="form-control"
    name="password"
    id="password"
    placeholder="Password"
    required
  />
  <br />
  <input class="btn btn-success" type="submit" value="Login" />
</form>
<a href="/google_auth_login"><img
  class="rounded mx-auto d-block"
  src="{{url_for('static', filename='images/google_button.png')}}"
  alt="reader"
/></a>
<br />
<p>New to Intelib?<a href="/register">Register</a></p>

{% endblock %}
