{% extends "base.html" %} {% block head %}
<title>Register</title>
{% endblock %} {% block body %}
<h1>Register</h1>
<img
  class="rounded mx-auto d-block"
  src="{{url_for('static', filename='images/reader.png')}}"
  alt="reader"
/>
<hr />
<form method="POST">
  <label for="first_name">First Name</label>
  <input
    type="text"
    class="form-control"
    name="first_name"
    id="first_name"
    placeholder="First Name"
    required
  />
  <br />
  <label for="last_name">Last Name</label>
  <input
    type="text"
    class="form-control"
    name="last_name"
    id="last_name"
    placeholder="Last Name"
    required
  />
  <br />
  <label for="email">Email</label>
  <input
    type="email"
    class="form-control"
    name="email"
    id="email"
    placeholder="Email"
    required
  />
  <br />
  <label for="phone_number">Phone Number</label>
  <input
    type="tel"
    class="form-control"
    name="phone_number"
    id="phone_number"
    placeholder="Phone Number"
    required
  />
  <br />
  <label for="password">Password</label>
  <input
    type="password"
    class="form-control"
    name="password"
    id="password"
    placeholder="Password"
    required
  />
  <br />
  <input class="btn btn-success" type="submit" value="Register" />
</form>

<a href="/google_auth_login"><img
  class="rounded mx-auto d-block"
  src="{{url_for('static', filename='images/google_button.png')}}"
  alt="reader"
/></a>
<br />
<p>Have an Account?<a href="/login">Login</a></p>

{% endblock %}
